body{position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    min-width: 300px;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.header{
    top: 0;
    margin: auto;
    padding: 5px;
    background-color: white;
    width: 90%;
    align-content: center;
    border-bottom: 1px solid black;
    justify-content: center;
}

.logodate{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 5px;
    justify-content: center;

}
.headlogo {
    width: 40%;
}
.headtime{
    width: 60%;
    text-align: right;
    
}
#logo_top{
    display: block;
    height: 10%;
    width: 50%;
    align-content: left;
    margin-left: 10%;
}

#datetime{
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
    font-size: 20px;
    display: block;
    margin-right: 10%;
    width: 50%;
    float: right;
    color: black;
}

.Navigation {
    background-color: white;
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: center;

    
}

#nav-menu{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}


#menu > ul{
    background:white;

}

#menu ul{
    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;

}
#menu ul a {
    color:black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    display: block;

}

#menu ul li {
    float: left;
    position: relative;
    margin-left: 10px;
    padding: 5px;
}

#menu ul ul {
    position: absolute;
    background:white;
    top: 100%;
    left: 0;
    display: none;
}
#menu ul ul a{
    font-size: 10px;
}
#menu ul ul li {
    float: none;
    width: 200px;
    margin-left:0;
}


#menu ul li:hover > ul{
    display: block;
}

#menu a:hover{
    color:white;
    background-color: black;
    border-radius: 30px;
    
}

#menu a:active{
    color: tomato;

}

#heading_b_logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: bold;
    justify-content: center;
    width: 35%;
    height: 40px;
    padding: 5px;
}
#heading_b_logo p {
    margin: 2px;
    display:inline;
}

.centre-display{
    background-image: url(census.jpg);
    background-repeat: no-repeat;
    width: 90%;
    max-width:800px;
    margin: auto;
    height: 500px;

    padding:10px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-position: fixed;
    background-size: cover;
    position: relative;
}

#bodytext{
    margin: auto;
    text-align: center;
    position: absolute;
    top: 40%;
    color: black;
    opacity: 1;
    background:rgba(255, 255, 255,0.6);
}



 .web-info{
    position: relative;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 90%;
     padding: 15px;
     margin: auto;
     margin-top: 25px;
     margin-bottom: 50px;
     justify-content: space-evenly;

 }

 .description{
     width: 45%;
     display: flex;
     flex-direction: column;
     padding:15px;
     margin: auto;
     line-height: 1.5;
 }

 .statics{
     width: 45%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: 1px solid black;
     box-shadow:1px 2px black;
 }

.paragraph-info > p{
    text-align: justify;
    padding: 10px;
}

.total-population{
    width: 90%;
    border-bottom: 1px solid black;
    text-align: center;
}

.male-population{
    width: 90%;
    border-bottom: 1px solid black;
    text-align: center;

}

.female-population{
    width: 90%;
    border-bottom: 1px solid black;
    text-align: center;

}
.population-growth{

    width: 90%;
    border-bottom: 1px solid black;
    text-align: center;
}
.population-density{
    width: 90%;
    text-align: center;

}

.rates{
    display: flex;
    flex-direction: row;
    width: 90%;
    border-bottom: 1px solid black;
    text-align: center;
    justify-content: space-evenly;
}
.cbr{
    width: 45%;
    text-align: center;
    justify-content: center;


}
.cdr{
    width: 45%;
    text-align: center;
    justify-content: center;

}


.contact-div{
    display:flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 10px;
}

.message-us{
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
.message-img{
    width: 30%;
}
.message-us-text{
    width: 60%;
}

.call-us{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.message-us-text ul {
    text-decoration: none;
    list-style: none;
    padding: 15px;
    margin: 10px;

}
.message-us-text ul li {
    padding: 5px;

}

.call-us-image{
    width: 30%;
}

.call-us-table{

    width: 60%;
    padding: 5px;
}
table{
    width: 100%;
}

.call-us-table tr{
    padding: 5px;
}
.call-us-table tr td{
    padding: 5px;
}

#label{
    width: 30%;
}
#num{
    width: 70%;
}

footer{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    justify-content: space-evenly;
}

footer div ul{
 list-style: none;
}

footer div ul p{
    font-size: 14px;
   }

footer div ul li a{
    text-decoration: none;
    font-size: 12px;
    margin: auto;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.icons ul li{
    display: inline;
    padding: 10px;
}
